.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cart{
    height: 25px;
    width: 25px;
    display: flex;
    margin-right: 10px;
}
.content{
    display: flex;
    float: left;
    margin-left: 250px;
}
.nav-container{
    /* border: 2px solid tomato; */
    margin: 30px 150px;
    display: grid;
    grid-template-columns: 50% 50%; 
    align-items: center;
        
}
.anchor{
    margin-right: 5px;
}
a{
    margin-right: 30px;
}

@media screen and (max-width:576px){
    .anchor{
        display: none;
    }
    .nav-container{
        justify-content: space-between;
    }
}