*{
    margin: 0px;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cart-section{
    display: flex;
}
.link{
    margin-right: 20px;
}
.cart{
    width: 25px;
    height: 25px;
    /* display: inline; */
    /* display: flex; */
    /* margin-right: 5px; */
}
.anchor{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 40px; */
    
    /* border: 2px solid tomato; */
}
.nav-container{
    /* border: 2px solid tomato; */
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    /* margin: 30px 150px; */
    
}
a{
    margin-left: 10px;
}
.nav-container{
    max-width: 1440px;
    margin: 0 auto;
}

@media  screen and (max-width:567px) {
    .link{
        display: none;
    }
    .cart-section{
        height: 24px;
        width: 113px;
    } 
    .logo{
        height: 38px;
        width: 63px;
    }  
}