*{
    margin: 0px;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cart-section{
    display: flex;
}
.link{
    margin-right: 20px;
}
.cart{
    width: 25px;
    height: 25px;
    /* display: inline; */
    /* display: flex; */
    /* margin-right: 5px; */
}
.anchor{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 40px; */
    
    /* border: 2px solid tomato; */
}
.nav-container{
    /* border: 2px solid tomato; */
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    /* margin: 30px 150px; */
    
}
a{
    margin-left: 10px;
}
.nav-container, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    height: 461px;
    display: flex;
    margin-top: 70px;
    padding: 10px 30px;
}
.banner-content{
    width: 720px;
    height: 299px; 
    display: flex;
    flex-direction: column;
    padding: 35px 0px 0px 0px;
}
.banner-image{
    width: 720px;
    height: 320px;
}
h1{
    font-size: 65px ;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.500);
}

@media  screen and (max-width:567px) {
    .link{
        display: none;
    }
    .cart-section{
        height: 24px;
        width: 113px;
    } 
    .logo{
        height: 38px;
        width: 63px;
    }
    .banner{
        flex-wrap: wrap;
    }  
}